html{
	background: #181819;
}

body{
	width: 700px;
	font: 12px/1.5 helvetica, sans-serif;
	color: #FAF1D5;
	padding: 10px 20px 20px;
	margin: 0 auto;
	background: #2D2D2F;
	border: 1px solid #000;
}

h1{
	color: #FFE9C7;
	font-weight: normal;
}

h2{
	color: #5C8A2D;
	font-weight: normal;
}

h3{
	color: #AFD687;
	font-weight: normal;
}


.discovery{
	width: 220px;
	float: left;
	overflow: hidden;
	margin: 5px;
}


.intent{
	clear: both;
}


.head{
	list-style: none;
}

.heading{
	font-weight: bold;
	color: #AFD687;
}

h2{
	border-bottom: 1px solid #666;
}
