/*-------------- Normalize -------------*/

@import "normalize.css";

/*----------------- END RESET ---------------*/




/*---------------------------------- color palette ------------------------------------------
			light green: #b3c29b;
			green: #99c258;
			dark green: #458a33;
			
			
			light gray: #4d4d4d; (active state in nav)
			dark gray: #333; (fonts)
			
			
			off-white: #f2efdf;
			dark off-white: #f2eccb; (footer)
			light orange: #ffbf75;
			orange: #ff950d;
			
			
			
			
			Main Gradient:	 	background: #ffbf75; 
								background: -moz-linear-gradient(top,  #ffbf75 25%, #ff950d 80%);
								background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,#ffbf75), color-stop(80%,#ff950d));
								background: -webkit-linear-gradient(top,  #ffbf75 25%,#ff950d 80%);
								background: -o-linear-gradient(top,  #ffbf75 25%,#ff950d 80%);
								background: -ms-linear-gradient(top,  #ffbf75 25%,#ff950d 80%);
								background: linear-gradient(to bottom,  #ffbf75 25%,#ff950d 80%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf75', endColorstr='#ff950d',GradientType=0 );
							
							
			Border Gradient:	background: #ffbf75;
								background: -moz-linear-gradient(left,  #ffbf75 27%, #ff950d 77%);
								background: -webkit-gradient(linear, left top, right top, color-stop(27%,#ffbf75), color-stop(77%,#ff950d)); 
								background: -webkit-linear-gradient(left,  #ffbf75 27%,#ff950d 77%); 
								background: -o-linear-gradient(left,  #ffbf75 27%,#ff950d 77%); 
								background: -ms-linear-gradient(left,  #ffbf75 27%,#ff950d 77%);
								background: linear-gradient(to right,  #ffbf75 27%,#ff950d 77%);
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffbf75', endColorstr='#ff950d',GradientType=1 );
---------------------------------- END COLORS ------------------------------------------*/




/*--------------------------------------- basic styles ------------------------------------*/
img, iframe{
	max-width: 100%
}

body{
	max-width: 960px;
	margin: 0 auto;
	background: none;
}

html{
	font: 1em/1.5 georgia, 'Gilda Display', serif;
	color: #333;
	background: url(../img/black-linen_@2X3.png) repeat-x #f2efdf;
}


a{
	color: #99c258;
	text-decoration: none;
}

a:visited{
	color: #99c258;
}

a:hover{
	color: #b3c29b;
}

a:active{
	color: #b3c29b;
}

/*--- hidden for mobile ---*/
.mobile_rates{
	display: none;
}

.mobile.reserve{
	display: none;
}


.main_img{
	display: block;
	margin: 0 auto 40px;
	max-width: 100%;
	
}

header, label, h1, h2, h3, h4, a{
	font-family: 'Oxygen', helvetica, sans-serif;
	font-weight: normal;
}

h2{
	clear: both;
	color: #458a33;
	
}

h3{
	color: #2e5c22;
}
/*--------------------------------------- nav ------------------------------------*/
nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	clear: both;
}


nav li{
	float: left;
	/*margin-left: 4.166666666667%; /*40px /960 */
}
 
nav a{
	display: block;
	padding: 10px 17%; /*10px 20px/960*/
}


/*--------------------------------------- header ------------------------------------*/
h1{
	clear: both;
	float: left;
	white-space: nowrap;
	text-indent: -200%;
	width: 249px;
	height: 72px;
}

h1 a{
	background: url(../img/logo.png) no-repeat;
	display: block;
	max-width: 100%;
	height: 100%;
}

header #contact{
	float: right;
	max-width: 140px; /* 140/960px */
	text-align: right;
}

header{
	width: 100%;
	overflow: hidden;
}

/*--------------------------------------- buttons ------------------------------------*/





/*--------------------------------------- table ------------------------------------*/

table{
 	border-collapse: separate;
	border-spacing: 10px;
}

td .dates{
	width: 10px;
}

.mobile_rates{
	display: none;
}

/*--------------------------------------- gallery ------------------------------------*/
img{
	margin: 0;
	padding: 0;
}
.gallery img{
	max-width: 100%;
	display: block;
	padding: 6px;
	margin: 9px;
	float: left;
	background-color: #fff;
	box-shadow: 1px 1px 4px 2px #222;
		-ms-box-shadow: 1px 1px 4px 2px #222;
		-moz-box-shadow: 1px 1px 4px 2px #222;
		-webkit-box-shadow: 1px 1px 4px 2px #222;
}

.gallery div{
	clear: both;
}

/*--------------------------------------- form ------------------------------------*/
form {
	margin-bottom: 20px; }

input,
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	width: 90%;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
		color: #444;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
label{
	display: block;
	font-weight: bold;
	font-size: 13px;  
	color: #99c258;}

select {
	width: 100%; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }

fieldset{
	border: 0;
	padding: 0;
	margin: 0;
}


/*--------------------------------------- footer ------------------------------------*/

footer{
	clear: both;
	background-color: #f2eccb;
	width: 100%;
	font-size: 12px;
}





/*--------------------------------------- below 960 ------------------------------------*/
@media screen and (max-width: 962px){


body{
	max-width: 900px;
}

.one-third .column .omega{
	float: none;
}

/*nav li{
	margin-left: 3.125%; /*30px /960
}*/

nav ul{
	max-width: 100%;
}
}



/*--------------------------------------- below 889 ------------------------------------*/
@media screen and (max-width: 889px){

header h1, h2, header div, .wrapper{
	padding: 0 10px;
}
}


/*--------------------------------------- below 889 ------------------------------------*/
@media only screen and (max-width: 767px){

.mobile.reserve{
	display: block;
}

.mobile_rates{
	display: block;
}

table{
	display: none;
}

#contact a{
	display: none;
}

/*#contact p{
	float: right;
	background: url(../img/phone.png) no-repeat;
	display: block;
	max-width: 100%;
	white-space: nowrap;
	text-indent: -200%;
}*/

/*-- mobile nav --*/
header{
	background: url(../img/black-linen_@2X3.png) repeat-x #f2efdf;
}

nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

nav li{
	text-align: center;
}
 
nav a{
	display: block;
	padding: 10px 17%; /*10px 20px/960*/
	max-width: 100%;
}

.main_img{
	display: none;
	float: none;
}

html{
	background: #f2efdf;
}
}