/*-------------- Normalize -------------*/

@import "normalize.css";

/*----------------- END RESET ---------------*/




/*-------------------- color palette---------------
			light green: #b3c29b;
			green: #99c258;
			dark green: #458a33;
			
			
			light gray: #4d4d4d; (active state in nav)
			dark gray: #333; (fonts)
			
			
			off-white: #f2efdf;
			dark off-white: #f2eccb; (footer)
			light orange: #ffbf75;
			orange: #ff950d;
-------------------------------------------------*/
img, iframe{
	max-width: 100%
}

body{
	max-width: 960px;
	margin: 0 auto;
	background: none;
}

html{
	font: 16px/1.5 georgia, 'Gilda Display', serif;
	color: #333;
	background: url(../img/black-linen_@2X3.png) repeat-x #f2efdf;
}

/*--------------------- nav -------------------*/
nav ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	max-width: 93.75%;
}


nav li{
	float: left;
	margin-left: 4.166666666667%; /*40px /960 */
}
 nav li:first-child{
	 margin-left: 0;
 }
 
nav a{
	display: block;
	padding: 10px 17%; /*10px 20px/960*/
	color: #99c258;
	text-decoration: none;
}

nav a:visited{
	color: #99c258;
}

nav a:active{
	color: #b3c29b;
}


/*------------------ header --------------------*/
h1{
	clear: both;
	float: left;
	white-space: nowrap;
	text-indent: -200%;
	width: 249px;
	height: 72px;
}


h1 a{
	background: url(../img/logo.png) no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}

header #contact{
	float: right;
	width: 140px; /* 140/960px */
	text-align: right;
}

header{
	width: 100%;
	overflow: hidden;
}

.main_img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
}

h2{
	clear: both;
}

/*------------------ button --------------------*/





/*------------------ table --------------------*/







/*------------------ form --------------------*/
form {
	margin-bottom: 20px; }

input,
textarea,
select {
	border: 1px solid #ccc;
	padding: 6px 4px;
	outline: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	margin: 0;
	width: 90%;
	max-width: 100%;
	display: block;
	margin-bottom: 20px;
	background: #fff; }
select {
	padding: 0; }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	border: 1px solid #aaa;
		color: #444;
		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
	box-shadow:  0 0 3px rgba(0,0,0,.2); }
label{
	display: block;
	font-weight: bold;
	font-size: 13px;  
	color: #99c258;}

select {
	width: 90%; }
input[type="checkbox"] {
	display: inline; }
label span,
legend span {
	font-weight: normal;
	font-size: 13px;
	color: #444; }


fieldset .form{
	float: right;
	width: 100%
}	
	
fieldset .msg{
	float: left;
	width: 100%
}





/*------------------ footer --------------------*/

footer{
	clear: both;
	background-color: #f2eccb;
	width: 100%;
	font-size: 12px;
}





/*------------------- below 960 -----------------*/
@media screen and (max-width: 959px){


body{
	max-width: 900px;
}

.one-third .column .omega{
	float: none;
}

nav li{
	margin-left: 4.166666666667%; /*40px /960 */
}
